{
    "presets": [
        ["@babel/env", {
            "targets": {
                "node": "current"
            },
            "useBuiltIns": "usage",
            "corejs": 2
        }],
        "@babel/preset-typescript"
    ]
}